---
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <ul class="footer">
      <li class="icon__btn">
        <a class="icon__link" href="https://github.com/inventory69" target="_blank"
          ><span class="git-icon">Gallery</span></a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="mailto:admin@dettmer.dev"
          ><span class="mail-icon">Email</span></a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="https://discord.gg/YQBbBmCD" target="_blank"
          ><span class="discord-icon">Discord</span></a>
      </li>
    </ul>
    <small>漏 {year} 路  <a href="https://astro.build/themes/details/milky-way" target="_blank" class="footer__link">milky way</a> 路 built with astro 路 hosted on hzwd 路 probably overengineered</small>
  </div>
</footer>
