---
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <ul class="footer">
      <li class="icon__btn">
        <a class="icon__link" href="https://github.com/inventory69" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile"
          ><span class="git-icon">GitHub</span></a
        >
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="mailto:admin@dettmer.dev" aria-label="Send Email"
          ><span class="mail-icon">Email</span></a
        >
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="https://discord.gg/YQBbBmCD" target="_blank" rel="noopener noreferrer" aria-label="Discord Server"
          ><span class="discord-icon">Discord</span></a
        >
      </li>
    </ul>
    <small
      >© {year} · 🌌 <a
        href="https://github.com/ttomczak3/Milky-Way"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link">milky way</a
      > · built with astro · probably overengineered</small
    >
  </div>
</footer>
