---
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <ul class="footer">
      <li class="icon__btn">
        <a class="icon__link" href="https://github.com/inventory69" target="_blank"
          ><span class="git-icon">Gallery</span></a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="mailto:admin@dettmer.dev"
          ><span class="mail-icon">Email</span></a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="https://discord.gg/YQBbBmCD" target="_blank"
          ><span class="linked-in">Discord</span></a>
      </li>
    </ul>
    <small>© {year} · built with astro · hosted on hzwd · probably overengineered</small>
  </div>
</footer>
