---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Dettmer.dev</a>
    </div>
    <div class="navbar__menu">
        <!-- <a href="/works/">Works</a>
        <a href="/posts/">Posts</a> -->
        <a href="https://mail.dettmer.dev" target="_blank">Mail UI</a>
        <a href="https://status.sadbra.in/status/dettmerdev" target="_blank">Server Status</a>
        <ThemeIcon />
    </div>
</div>

