---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="navbar">
  <div class="navbar__title">
    <a href="/">Dettmer.dev</a>
  </div>
  <div class="navbar__menu">
    <a href="/works/">Works</a>
    <a href="https://status.dettmer.dev/status/mail" target="_blank">Status</a>
    <ThemeIcon />
  </div>
</div>
